/* =========== Colors ============ */


/*
Pale Blue: #8cc9d4
Green: #87b781
Purple: #8990bd
Yellow: #f2d76c
Dark Gray: #333
*/

body {
	overflow-y: scroll;
	overflow-x: hidden;
}

p {
	14px;
}

h1,
h2 {
	font-weight: bold;
	text-transform: uppercase;
}

h3 {
	24px;
}


/* ========= Navigation ========== */

.navbar-default {
	background-color: #f2d76c;
}

.navbar-default .navbar-nav > li > a {
	font-weight: bold;
	color: #333;
	padding-top: 25px;
	padding-bottom: 25px;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #87b781;
}

.navbar-default .navbar-nav > li > a:focus {
	color: #8990bd;
}


/* ========= Splash ========== */

#splash {
	background-color: #87b781;
}

.briefcase-img {
	padding-top: 140px;
	padding-bottom: 140px;
}

.splash-text {
	padding-top: 238px;
	text-align: center;
	text-transform: uppercase;
}


/* ========= Skills ========== */


/*

        /* -- Develop -- */

.develop {
	background-color: #8990bd;
}

.develop-img {
	/*    background-color: #8990bd;*/
	padding-top: 40px;
	padding-bottom: 40px;
}


/* -- Design -- */

.design {
	background-color: #8cc9d4;
}

.design-img {
	/*    background-color: #8cc9d4;*/
	padding-top: 47px;
	padding-bottom: 46px;
}


/* -- SEO -- */

.seo {
	background-color: #f2d76c;
}

.seo-img {
	/*    background-color: #f2d76c;*/
	padding-top: 40px;
	padding-bottom: 40px;
}


/* ============ Portfolio ============ */

.row-1 {
	padding: 60px;
	background-color: #87b781;
}

.row-1 img {
	width: 100%;
	border: 10px solid #000;
}

.row-2 {
	padding: 60px;
	background-color: #8990bd;
}

.row-2 img {
	width: 100%;
	border: 10px solid #000;
}