/* =========== Colors ============ */


/*
Pale Blue: #8cc9d4
Green: #87b781
Purple: #8990bd
Yellow: #f2d76c
Dark Gray: #333
*/

body {
	overflow-y: scroll;
	overflow-x: hidden;
}

p {
	14px;
}

h1,
h2 {
	font-weight: bold;
	text-transform: uppercase;
}

h3 {
	24px;
}

figcaption h4 {
	font-weight: 300;
	padding: 10px;
	color: #fff;
	font-style: italic;
	border: 10px solid #8cc9d4;
}


/* ========= Navigation ========== */

.navbar-default {
	background-color: #f2d76c;
}

.navbar-default .navbar-nav > li > a {
	font-weight: bold;
	color: #333;
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #87b781;
}

.navbar-default .navbar-nav > li > a:focus {
	color: #8990bd;
}


/* ========= Splash ========== */

#splash {
	background-color: #87b781;
}

.briefcase-img {
	padding-top: 140px;
	padding-bottom: 60px;
}

.splash-text {
	padding-top: 238px;
	text-align: center;
	text-transform: uppercase;
}


/* ========= Skills ========== */


/* -- Develop -- */

.develop {
	background-color: #8990bd;
}

.develop-img {
	/*    background-color: #8990bd;*/
	padding-top: 40px;
	padding-bottom: 40px;
}


/* -- Design -- */

.design {
	background-color: #8cc9d4;
}

.design-img {
	/*    background-color: #8cc9d4;*/
	padding-top: 47px;
	padding-bottom: 46px;
}


/* -- SEO -- */

.seo {
	background-color: #f2d76c;
}

.seo-img {
	/*    background-color: #f2d76c;*/
	padding-top: 40px;
	padding-bottom: 40px;
}


/* ============ Portfolio ============ */

.row-1 {
	padding: 60px;
	background-color: #87b781;
}

.row-1 img {
	width: 100%;
	border: 10px solid #000;
}

.row-2 {
	padding: 60px;
	background-color: #8990bd;
}

.row-2 img {
	width: 100%;
	border: 10px solid #000;
}

/* ========= Contact Me ============= */

.contact-me-form .form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 21px;
    color: #555;
    border: 1px solid #8cc9d4;
    border-radius: 0px;
    margin-bottom: 15px;
    outline: 0px !important;
    
}
#message {
    height: 117px;
    resize: none;
}
.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited {
    
    background-color: #8cc9d4;
    border-radius: 0px;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    font-size: 18px;
    color: #129CF3;
    outline: 0px !important;
}
.submit-btn:hover {
    background: #87b781;
    color: #fff;
}
.social-icons {
    padding-top: 50px;
    padding-bottom: 70px;
    
}
.social-icons ul {
    margin:0;
    padding: 0;
    text-align: center;
    
}
.social-icons ul li { 
    list-style: none;
    display: inline;
    padding-left: 10px;
}

.social-icons ul li a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: 1px solid #8cc9d4;
    border-radius: 0px;
    width: 45px;
    height: 45px;
    line-height: 49px;
    color: #8cc9d4;
     
}
.social-icons ul li a:hover {
    
    background-color: #129CF3;
    border: 1px solid #129CF3;
    color: #fff;
} 
.social-icons ul li a i {
    font-size: 20px;
}